spring:
  datasource:
    # IMPORTANT: ;MODE=PostgreSQL teaches H2 to understand Postgres types.
    # DB_CLOSE_DELAY=-1 prevents the DB from being deleted unexpectedly.
    url: jdbc:h2:mem:threatbeacon;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true